.env
# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore SQLite database
db.sqlite3

# Bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/
evolve/lib/python3.11/site-packages/
/evolve/

# SQLite database
*.sqlite3

# Other temporary files
*.log
*.tmp
