{% extends "base.html" %}

{% block title %}Journal Entries{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Journal Entries</h1>
        <div class="row">
            {% for entry in entries %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Entry #{{ entry.id }}</h5>
                            <p class="card-text">{{ entry.entry.content|truncatewords:30 }}</p> <!-- Show a truncated version of content -->
                            <p class="card-text">Key identity: {{ entry.entry.summary }}</p>
                            <p class="card-text">Mood: {{ entry.mood }}</p>
                            <p class="card-text">Cumulative summary: {{ entry.entry.cumulative_summary }}</p>
                            
                            
                        </div>
                        <div class="card-footer text-muted">
                            <small>Posted on {{ entry.entry.date_created|date:"F j, Y, g:i a" }}</small>
                            <div class="mt-2">
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'journal:create' %}" class="btn btn-primary mt-3">Create New Entry</a>
    </div>
{% endblock %}
